*, *::before, *::after, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  content: ""; }

html, body {
  font-family: 'Kanit', sans-serif; }

form {
  width: 700px;
  margin: auto;
  background: rgba(26, 116, 112, 0.4);
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 7px; }

h2 {
  color: white;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px; }

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  font-size: 17px;
  border: none; }

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
  min-width: 100%; }

.errorphp {
  color: #a75365; }

.errorjs {
  border: 2px solid #a75365; }

#send {
  background: #1a7470;
  color: white;
  padding: 20px; }

#send:hover {
  cursor: pointer;
  background: #5c8f80; }

@media screen and (max-width: 900px) {
  form {
    width: 80%; } }

@media screen and (max-width: 480px) {
  form {
    width: 98%; } }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100vw;
  height: 100vh; }
  .container > div {
    background-color: #b9cfc8;
    color: #23624f;
    width: 60%;
    height: 30%;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .container > div > h1 {
      margin: 0 0 20px 0;
      text-align: center; }
    .container > div > a {
      text-decoration: none;
      background-color: #83a89d;
      padding: 15px;
      border-radius: 5px;
      color: white; }
    @media screen and (max-width: 1100px) {
      .container > div {
        width: 80%; } }
    @media screen and (max-width: 850px) {
      .container > div {
        width: 90%; } }
    @media screen and (max-width: 750px) {
      .container > div {
        width: 98%;
        font-size: .80rem; } }
